:root {
    --cabin-medium: 500;
    --cabin-semi-bold: 600;
    --cabin-bold: 700;
    --primary: #230c69;
    --black: #000;
    --background-color1: #d5a8a8;
    --background-color2: #fafaff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
    --one-use-color: #542c8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hr {
    display: flex;
    border: 1px solid black;
}

body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textP {
    font-size: 27px;
    font-weight: 600;
    color: rgb(47, 141, 70);
}

/* #admin-ham{} */

.logosec,
.searchbar,
.message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logosec {
    gap: 60px;
}

.searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border: none;
}


/* ------------------ */

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 350px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.nav {
    min-height: 91vh;
    width: 250px;
    background-color: #ccd7faa4;
    position: absolute;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(190, 180, 250, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.nav-option {
    width: 250px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
    color: white;
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

.nav-option:hover {
    border-bottom: 5px solid #e53131;
    background-color: black;
    cursor: pointer;
}










/* add article overdiv section */

.addArticleOver{
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 10px solid red;
    background-color: rgba(0, 0, 0, 0.8);
}

