/* section 1 - navigation bar */

@media (max-width: 1284px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 1235px) {
    .welcome span {
        font-size: 24px;
    }
}

@media (max-width: 1211px) {
    html {
        font-size: 95%;
    }

    .welcome span {
        font-size: 25px;
    }
}

@media (max-width: 1208px) {
    .welcome span {
        font-size: 23px;
    }
}

@media (max-width: 1198px) {
    .welcome span {
        font-size: 20px;
    }

    .textbox {
        width: 28%;
        height: 80%;
    }
}

@media (max-width: 1142px) {
    .welcome span {
        font-size: 18px;
    }

    .textbox {
        width: 30%;
    }
}

@media (max-width: 1133px) {
    .welcome span {
        font-size: 16px;
    }
}

@media (max-width: 1119px) {
    .welcome span {
        font-size: 19px;
    }

    .textbox {
        width: 28%;
    }
}

@media (max-width: 1109px) {
    .welcome span {
        font-size: 19px;
    }

    .textbox {
        width: 28%;
    }

    .textbox::placeholder {
        font-size: 15px;
    }

    .navigation-bar a {
        margin-left: 25px;
    }
}

@media (max-width: 1067px) {
    .welcome span {
        font-size: 20px;
    }

    .textbox {
        width: 28%;
    }

    .navigation-bar a {
        margin-left: 20px;
    }
}

@media (max-width: 1033px) {
    .welcome span {
        font-size: 20px;
    }

    .textbox {
        width: 28%;
    }

    .navigation-bar a {
        margin-left: 15px;
    }
}

@media (max-width: 991px) {
    .welcome span {
        font-size: 20px;
    }

    .textbox {
        width: 26%;
    }

    .navigation-bar a {
        margin-left: 13px;
    }
}

@media (max-width: 948px) {
    .welcome span {
        font-size: 18px;
    }

    .textbox {
        width: 24%;
        margin-left: 20px;
    }

    .navigation-bar a {
        margin-left: 15px;
    }
}

@media (max-width: 886px) {
    .welcome span {
        font-size: 18px;
    }

    .textbox {
        width: 24%;
        margin-left: 20px;
    }

    .navigation-bar a {
        margin-left: 11px;
    }
}

@media (max-width:865px) {
    .welcome span {
        font-size: 15px;
    }
}

@media (max-width: 854px) {
    .welcome span {
        font-size: 15px;
    }

    .textbox {
        width: 24%;
        margin-left: 20px;
        padding: 7px;
    }

    .navigation-bar a {
        margin-left: 11px;
    }
}

@media (max-width: 834px) {
    .navigation-bar a {
        margin-left: 7px;
    }
}

@media (max-width: 812px) {
    .welcome span {
        margin-left: 1px;
    }
}

@media (max-width: 802px) {
    .textbox {
        width: 22%;
        margin-left: 10px;
        padding: 4px;
    }

    .welcome span {
        font-size: 13px;
    }
}

@media (max-width: 769px) {
    .welcome {
        margin-left: -5px;
    }

    .welcome span {
        font-size: 16px;
    }

    .textbox {
        height: 70%;
    }
}

@media (max-width: 757px) {
    .welcome span {
        margin-left: 1px;
    }
}

/* hamburger button */
@media (max-width: 747px) {
    .hamburger {
        display: flex;
        margin-left: 40px;
    }

    .respo-hamburger {
        display: none;
        border: 0px solid red;
        border-radius: 0px;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        background-color: #010317;
        height: 100%;
        width: 50%;
        top: 0;
        right: 0;
        position: fixed;
        z-index: 11;
        animation: slideRight 1s ease-out;
    }
    @keyframes slideRight  {
        0% {
            transform: translateX(200px);
        }
        100% {
              transform: translateX(0);
        }
    }

    
    .respo-hamburger a {
        color: var(--ham);
        padding-left: 30px;
        font-weight: 600;
        margin-top: 40px;
        text-decoration: none;
        align-self: left;
    }

    .textbox {
        width: 100%;
        margin-left: 38px;
    }

    .welcome span {
        font-size: 25px;
    }
}

@media (max-width: 705px) {
    .welcome span {
        font-size: 20px;
    }

    .textbox {
        width: 100%;
        margin-left: 20px;
    }

}

@media (max-width: 661px) {
    .textbox {
        margin-left: 15px;
        margin-right: 0;
    }

    .welcome {
        font-size: 10px;
        margin-left: -20px;
    }

    .hamburger {
        margin-right: 10px;
    }
}

@media (max-width: 643px) {
    .textbox {
        width: 60%;
        margin-left: 15px;
    }

    .welcome {
        font-size: 13px;
    }
}

@media (max-width: 619px) {
    .textbox {
        width: 50%;
    }

    .hamburger {
        margin-left: 50px;
    }
}

@media (max-width: 516px) {
    .textbox {
        width: 45%;
    }

    .hamburger {
        margin-left: 40px;
    }
}

@media (max-width: 451px) {
    .websiteLogo {
        display: flex;
        height: 45px;
        width: 45px;
        border: 1px solid black;
        border-radius: 50%;
        margin-left: 10px;
        background-image: url(../req/1.jpg);
        background-size: 100% 100%;
    }

    .welcome {
        display: none;
    }

    .textbox {
        width: 75%;
    }

    .hamburger {
        margin-left: 30px;
    }
}

@media (max-width: 378px) {
    .hamburger {
        margin-right: 10px;
    }

    .textbox {
        width: 60%;
    }
}

/* done with nav bar responsive */
/* done with nav bar responsive */