:root {
    --bg-color: #F4EEFF;
    --primary-color: #8a55bf;
    --secondary-color: #A6B1E1;
    --tertiary-color: #DCD6F7;
    --hover: #53f0e3;
    --active: #B83B5E;
    --text-dark: #000;
    --text-light: #fff;
    --footer-bg-color: #9cc8de;
    --ham: rgb(255, 140, 0);
    --ham2: rgb(79, 235, 105);

    /* https://colorhunt.co/palettes/popular */
}

body {
    background-color: var(--bg-color);
    font-family: 'Geologica', sans-serif;
}
/* scroll bar */
html::-webkit-scrollbar{
    width: 0.71rem;
}
html::-webkit-scrollbar-track{
    background: #b7dea7;
}
html::-webkit-scrollbar-thumb{
    background: rgb(0, 26, 255);
}

html::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 0, 0);
}
/* scroll bar */


/* sectionn 1 - navigation bar */
.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 70px;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: var(--primary-color);
}

.welcome {
    position: relative;
}

.welcome span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    margin-left: 5px;
    color: var(--text-light);
    animation: fullflip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

.welcome span:nth-child(1) {
    margin-left: 32px;
}

@keyframes fullflip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

/* ====== SEARCH BOX ==== */
.textbox {
    display: flex;
    width: 38%;
    max-width: 400px;
    padding: 15px;
    flex-direction: column;
    border: none;
    height: 70%;
    border-radius: 15px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-left: 50px;
}

.textbox:focus {
    outline: none;
    box-shadow: 0px 10px 25px rgba(0, 123, 255, 0.9);
}

.textbox::placeholder {
    color: var(--text-dark);
    font-style: italic;
    font-weight: 400;
}


.navigation-bar a {
    color: var(--text-light);
    text-decoration: none;
    margin-left: 30px;
}

.navigation-bar a:hover {
    color: var(--hover);
    font-weight: 900;
    scale: 1.2;
}

.hamburger {
    display: none;
}
.respo-hamburger{
    display: none;
}

.websiteLogo {
    display: none;
    color: white;
}

/* ------------ */

.fullpage {
    left: 0;
    position: absolute;
    width: 100%;
    min-height: 200px;
    height: auto;
    margin-top: -2%;
}

/* sectionn 2 */

.slider {
    position: relative;
    width: 100%;
    box-shadow: rgb(255, 255, 255) 0 5px 15px;
}

.myslide {
    height: 33vw;
    display: none;
    overflow: hidden;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3.3rem;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: var(--primary-color);
}

.next {
    right: 0;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active,
.dot:hover {
    border-color: #00a7ff;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

.txt {
    position: absolute;
    color: var(--text-light);
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@-webkit-keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}

@keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}

.txt h1 {
    color: var(--text-light);
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
}


.button-89 {
    --b: 5px;
    /* border thickness */
    --s: 0.7em;
    /* size of the corner */
    --color: #46dc1d;
    color: var(--text-light);
    font-weight: 700;
    font-size: 26px;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--text-dark) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #f2f5f100;
    outline-offset: .6em;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    text-transform: uppercase;
    color: var(--bg-color);
}

.button-89:active {
    background: var(--hover);
    color: #000000;
}
 
/* blog post starts from here */
/* sectionn 3 - image recent posts */

.recentPostMainBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* border: 5px solid #5307df; */
    font-family: 'Roboto', sans-serif;
}

.recentPostMainBox .recentPosts {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: left;
    min-height: 100px;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2%;
    /* border: 8px solid #44df07; */
}

.recentPostMainBox .recentPosts .posts {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 260px;
    float: left;
    margin: 5px;
    cursor: pointer;
}

.recentPostMainBox .recentPosts .posts:hover{
    scale: 1.1;
    transition: ease 0.3s;
}

.recentPostMainBox .recentPosts .itemImg {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border: 1px solid red;
}

.recentPostMainBox .recentPosts .itemDescription {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    border: 1px solid blue;
}



/* section 10 - footer */

.main {
    height: 10vh;
}

.hover-effect1 {
    min-height: 20px;
    background: #F44336;
    text-align: center;
}

.hover-effect1 ul {
    padding-top: 1px;
}

.hover-effect1 ul li {
    display: inline-block;
}

.hover-effect1 ul li a {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 0px 10px;
    line-height: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #dc3545;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.hover-effect1 ul li:hover a {
    border-radius: 50%;
    background: #dc3545;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* footer */