* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbf9d7;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select {
    border-radius: 9px;
    width: 200px;
    outline: none;
    font-size: 20px;

}

input {
    height: 42px;
    border-radius: 9px;
    width: 200px;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
}

.hr {
    display: flex;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
}

.entryDivs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c8f6c2;
    height: 80%;
    width: 80%;
    border: 2px solid black;
    margin-top: 20px;
    max-width: 1000px;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 0.31s ease-in-out;
}

.entryDivs:hover {
    background-color: #b3ecaa;
    border: 2px solid red;
}


.subDivs {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: top;
    margin-top: 10px;
    justify-content: center;
}

.subDivs button {
    height: 40px;
    width: 30%;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    background-color: #228059;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subDivs button:hover {
    background-color: #000;
    color: #fff;
    width: 40%;
    font-weight: 700;
}

.subDivs button:active {
    background-color: red;
    /* color: black; */
}

.prosCons {
    display: flex;
    flex-direction: column;
}

.prosCons input {
    margin-top: 9px;

}