:root {
    --cabin-medium: 500;
    --cabin-semi-bold: 600;
    --cabin-bold: 700;
    --primary: #230c69;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbf9d7;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
select{
    /* border: 2px solid red; */
    border-radius: 9px;
    width: 200px;
}
input{
    height: 42px;
    border-radius: 9px;
    width: 200px;
}

.hr {
    display: flex;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
}


.all_inputs{
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    height: auto;
    min-height: 200px;
    width: 100%;
    align-items: center;
}

.subDivs{
    display: flex;
    flex-direction: row;
    /* border: 1px solid rgb(220, 18, 18); */
    width: 100%;
    align-items: top;
    margin-top: 10px;
    justify-content: center;
}

.prosCons{
    display: flex;
    flex-direction: column;
}
.prosCons input{
    margin-top: 9px;
}