* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: 'Roboto Slab', serif;
}

:root {
    --background-color1: #fafaff;
    --background-color2: #c2e97a;
    --background-color3: #d1eb5a;
    --background-color4: #63d2e3;
    --background-color5: #1b1a67af;
    --background-color6: #2a6873;
    --primary-color: #b6b5f2;
    --secondary-color: #6592df;
    --Border-color: #3f0097;
    --one-use: #7f3ddc;
}

.hr {
    display: flex;
    border: 1px solid rgb(0, 255, 183);
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-color: var(--background-color2);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.over {
    background-color: var(--background-color6);
    border-radius: 13px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    color: white;
}

.main .over input {
    height: 40px;
    width: 80%;
    margin-top: 30px;
    outline: none;
    border-radius: 9px;
    border: 1px solid rgb(0, 255, 183);
    font-size: 16px;
    background-color: white;
    padding-left: 1%;
    font-weight: 500;
}

.main .over input::placeholder {
    color: #000000;
}

#login {
    width: 30%;
    height: 25px;
    margin-top: 50px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: var(--one-use);
    color: white;
    font-weight: 600;
}

.main .over h5 {
    margin-top: 15%;
}

.main .over h5,
h6 {
    color: rgb(255, 255, 255);
    font-weight: 200;
    letter-spacing: 0.8px;
}

.main .over h6 span a{
    color: rgb(255, 251, 136);
    cursor: pointer;
    text-decoration: none;
}
.main .over h6 span a:hover{
    color: rgb(0, 0, 0);
}


/* forgot password */
.forgot{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}